{% set count = 0 %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Math HW reparter</title>
        <style>
             .grid-3 {
                display: grid;
                grid-template-columns: auto auto auto;
                grid-gap: 2rem;
             }
        </style>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

        <!-- JS, Popper.js, and jQuery -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    </head>
    <body class="container">
        <article class="grid-3 p-3">
            {% for table in tables %}
            <section>
                <h2> {{ table.name }} </h2>
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            {% for student in students %}
                                <th> {{ student }} </th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            {% for item in table.items %}
                                <td> {{ item }} </td>

                                {% if loop.index % 3 == 0 %}
                                    </tr>
                                    <tr>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    </tbody>
                </table>
            </section>
            {% endfor %}
        </article>
        <section class="d-none"> 
            <p>Nota: Puedes hacer {{ (count / 5)|round }} ejercicios por dia.</p>
        </section>
    </body>
</html>